.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-link a{
  font-sisze: 30px;
  color: #3c4858;
}

.app-link a div {
  line-height: 30px;
  display: inline-block;
  position: relative;
  bottom: 5px;
}

.app-link a svg {
  font-size: 24px;
}
