.marketplace-toolbar {
  border: 1px solid black;
  min-height: 0px !important;
  border-bottom: 1px solid rgba(0,0,0,0.26);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.add-schema {
  background-color: #668eac !important;
  margin-bottom: 10px !important;
}

.schema-list {
  font-family: "Times New Roman", Times, serif;
}

.schema-list .header {
  font-weight: bold;
  margin-bottom: 0px
}

.schema-list .sub-header {
  margin-bottom: 0px;
}

.schema-list .description {
  margin-bottom: 0px;
  color: rgba(0,0,0,.55);
  font-size: 12px;
  /* rgba(0,0,0,.4)*/
}

.fake-image {
  border: 1px solid black;
  margin-right: 20px;
  width: 70px;
  height: 70px;
  background: #cccccc;
  float: left;
}

.fake-image p {
  line-height: 70px;
  text-align: center;
  margin: 0;
  color: #9e9e9e;
}

.marketplace-dialog .close-btn {
  color: white;
}

.marketplace-dialog .dialog-toolbar {
  background: #3f51b5;
  color: #fff;
}
