.notification-label {
  padding: 13px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 6px;
  width: 100%;
}

.notification-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.notification-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.notification-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/* Jumbo-paper */

.jumbo-paper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
/* Refactor this into different app buttons*/
.jumbo-paper .jumbo-title {
  font-weight: 300;
  padding: 20px 0 0 20px;
}

.jumbo-paper .jumbo-button {
  background: #668eac;
  color: white;
  margin: 20px;
}

.jumbo-paper .jumbo-button:hover {
  background: #4D6B82
}
