.filter-menu-container {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  .filter-header {
    text-align: center;
    margin-bottom: 5px;
  }
  .filter-item {
    margin-top: 5px;
    .filter-menu-title {
      font-weight: bold;
      svg {
        margin-right: 5px;
        margin-top: 5px;
        height: 20px;
      }
    }
    .filter-menu-control {
      min-width: 120px;
      width: 100%;
      margin-top: 5px;
    }
  }
  .filter-cta {
    width: 100%;
    margin-top: 5px;
  }
}
