/* This font should be used for headers or title of sections */
$app-font-main: "Roboto";

/* This font should be used for content tags*/
$app-sub-font:  sans-serif;


/* Primary theme */
$primary-main: #47494D;
$primary-light: #6B6D70;
$primary-dark: #313335;
$primary-text: #FFF;

/* Secondary Theme */
$secondary-main: #6996B6;
$secondary-light: #87ABC4;
$secondary-dark: #49697F;
$secondary-text: #FFF;
